<%= turbo_stream.update "sale_items_section" do %>
  <% if @sale.sale_items.any? %>
    <h3 class="text-sm font-bold uppercase tracking-wider text-[#4e9767] mb-3">Itens Selecionados</h3>
    <div id="sale_items_list">
      <% @sale.sale_items.each do |item| %>
        <%= render 'backoffice/sales/items/sale_item', item: item, sale: @sale %>
      <% end %>
    </div>
  <% else %>
    <div id="sale_items_list" class="hidden"></div>
  <% end %>
<% end %>

<%= turbo_stream.replace "sale_summary" do %>
  <%= render 'backoffice/sales/steps/sale_summary', sale: @sale %>
<% end %>

<%= turbo_stream.update "continue_button" do %>
  <%= render 'shared/ui/button', 
      href: edit_backoffice_sale_details_path(@sale),
      variant: :primary,
      size: :lg,
      width: "w-full",
      class: @sale.sale_items.empty? ? 'opacity-50 cursor-not-allowed pointer-events-none' : '',
      disabled: @sale.sale_items.empty? do %>
    Continuar
    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
    </svg>
  <% end %>
<% end %>

<%= turbo_stream.append "toast-container" do %>
  <%= render 'shared/ui/toast', type: :success, message: "Quantidade atualizada!" %>
<% end %>
