<div class="max-w-3xl mx-auto space-y-6">
  <%= render "shared/ui/heading",
             text: "Nova conta",
             size: :xl,
             description: "Crie uma nova conta para um cliente." %>

  <div class="bg-white border border-slate-200 rounded-2xl p-5 space-y-6">
    <%= form_with model: @account,
                  url: backoffice_accounts_path,
                  local: true do |f| %>
      <%= render "backoffice/accounts/form", form: f %>

      <div class="mt-6 flex items-center justify-between">
        <%= render "shared/ui/button",
                   text: "Cancelar",
                   variant: :secondary,
                   size: :md,
                   href: backoffice_accounts_path %>

        <%= render "shared/ui/button",
                   text: "Criar conta",
                   variant: :primary,
                   size: :md,
                   type: :submit,
                   form: f %>
      </div>
    <% end %>
  </div>
</div>

